html {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	background: #eee;
	color: #333;
	font-size: 14px;
	font-family: "微軟正黑體", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	height: 100%;
	margin: 0;
	min-width: 960px;
	padding: 0;
}

.layout-wrapper {
	height: 100%;
	position: relative;
	width: 100%;
}
.layout-header {
	background: #000;
	border-bottom: 5px solid #c50900;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 130px;
	position: relative;
	width: 100%;
	z-index: 2;
}
.layout-header:before,
.layout-header:after {
	content: " ";
	display: table;
}
.layout-header:after {
	clear: both;
}

.layout-body {
	background: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: auto;
	min-height: 100%;
	margin: 0 15px;
	padding: 140px 20px 130px 20px;
	position: relative;
	top: -130px;
	z-index: 1;
}
.layout-body:before,
.layout-body:after {
	content: " ";
	display: table;
}
.layout-body:after {
	clear: both;
}

.layout-main {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	padding: 0 20px 0 0;
	width: 78%;
}

.layout-side {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 22%;
}

.layout-footer {
	background: #000;
	border-top: 5px solid #c50900;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #888;
	height: 142px;
	padding: 20px 0;
	position: relative;
	text-align: center;
	top: -260px;
	width: 100%;
	z-index: 3;
}