.l-main {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
}
/* IE7 */
*+html .l-main {
	min-width: 1024px;
}
/* IE8 */
@media \0screen {
	.l-main {
		min-width: 1024px;
	}  
}
.l-side {
	float: left;
	width: 20%;
}
.l-content {
	margin: 0 0 0 21%;
}