<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Trend Micro Exam - Data Analysis</title>
<link rel="stylesheet" type="text/css" href="../libs/jqplot/jquery.jqplot.min.css">
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/dataAnalysisStyle.css">
<script language="javascript" type="text/javascript" src="../libs/jqplot/excanvas.min.js"></script>
</head>

<body>
	<h2 class="b-heading">Data Analysis</h2>
	<div class="section">
		<h3 class="title">Birth in Taiwan</h3>
		<small class="sub">Source: Ministry of the Interiror</small>
		<div id="line-chart" class="chart"></div>
	</div>

<script type="text/javascript" src="../libs/jquery/jquery-1.6.1.min.js"></script>	
<script type="text/javascript" src="../libs/jqplot/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="../libs/jqplot/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="../libs/jqplot/jqplot.canvasAxisLabelRenderer.min.js"></script>
<script type="text/javascript" src="../libs/jqplot/jqplot.dateAxisRenderer.min.js"></script>
<script type="text/javascript" src="../js/util.js"></script>
<script type="text/javascript" src="../js/dataAnalysisController.js"></script>
</body>
</html>